@model center.ViewModels.AppointmentUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <label asp-for="TreatmentId" class="control-label"></label>
                <<select asp-for="TreatmentId" class="form-control" size="1" asp-items="@(new SelectList(Model.Treatments,"TreatmentId","TreatmentName"))"></select>
                <span asp-validation-for="TreatmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" size="1" asp-items="@(new SelectList(Model.Users,"Id","UserName"))"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" size="1" asp-items="@(new
                SelectList(Model.patients,"PatientId","PatientName"))"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paid_amount" class="control-label"></label>
                <input asp-for="paid_amount" class="form-control" />
                <span asp-validation-for="paid_amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionTime" class="control-label"></label>
                <input asp-for="SessionTime" class="form-control" />
                <span asp-validation-for="SessionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
